@font-face {
    font-family: Poetsen;
    src: url(poetsen_one.woff);
}

#header-block {
    background: rgb(232,12,49);
}

#logo {
    height:30px;
    margin: 15px 0px 15px 0px;
}

body {
    font-family: "Poetsen";
    color: white;
}

@media screen and (min-width: 480px) {
    #main {
       /* min-height: 800px;*/
    }
}

#main {
    background-image: url("blue-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    min-height: 100%;
    padding-bottom: 250px;
    left:0;
    right:0;
display: inline-block;
    vertical-align: middle;
    /*display: flex;
    flex-flow: column;
    justify-content: space-between;*/
}

#main-front {
       background-image: url("blue-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
}

#white-footer{
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#jordgubbar {
    background-image: url("jordgubbar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
#front-footer {
    z-index: 2;
    position: relative;
}

#red-footer img{
    width: 100%;

}

#red-footer {
    text-align: center;
}

#red-block {
    background: rgb(232,12,49);
    height:50px;
}
#steps {
    background: rgb(232,12,49);
    width: 100%;
    
    margin:0px;
    padding-bottom: 50px;
}

#steps p {
    font-weight: normal;
    font-size: 12px;
}
input {
    margin-bottom: 15px;
    font-family: Helvetica, Arial, sans-serif;
}
#start {
    width: 100%;
}
#start-container {
    text-align:center;
}

#accountForm, #loginForm {
    color: white;
}

#steps {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#steps h1 {
    border-radius: 50%;
    display: inline-block;
    width:50px;
    height: 50px;
    padding: 3px;
    font-weight: bold;
    border: 3px solid white;
}

#footer {
    position: absolute;
    bottom:0px;
    width: 100%;
}

#white-footer a {
    margin-right: 30px;
    padding-left: 15px;
}

html {height:100%} 
body {min-height:100%; }

.btn {
    font-family: Poetsen;
    color: rgb(33,181,247)
}

.receipt img {
    width: 100%;
}

.receipt {
    font-family: Helvetica, Arial, sans-serif;
    margin-top:15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 150px;
    vertical-align: top;
    position: relative;
    margin-right:30px;
}

.center-vertical {
     position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#progress-bar {
    height: 300px;
    width: 100%;
    max-width: 75px;
    border: 3px solid rgb(9,113,160);;
    position: relative;
    border-radius: 5px;
}

#ready {
    border-radius: 2px;
    position: absolute;
    bottom:0px;
    background: white;
    width: 100%;
}

#ready-wrapper {
    position: absolute;
    top:5px;
    left: 5px;
    right: 5px;
    bottom: 5px; 
}

.dark-blue {
    color: rgb(9,113,160);
}

#info-text{
    color:white;
    font-size: 1.2em;
    line-height: 150%;
}

#profile-top img{
    width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#receipts .badge {
    position: absolute;
    top:-10px;
    right: -15px;
}



table {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#logout {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    top:20px;
}

#congrats {
    text-align: center;
    margin-bottom: 50px;
}